# ConfigMap for Local Path Provisioner configuration
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "storage-local-path.fullname" . }}-config
  namespace: {{ include "storage-local-path.namespace" . }}
  labels:
    {{- include "storage-local-path.labels" . | nindent 4 }}
data:
  config.json: |-
    {
      "nodePathMap": [
        {
          "node": "DEFAULT_PATH_FOR_NON_LISTED_NODES",
          "paths": ["{{ .Values.nodePathMap.defaultPath }}"]
        }
      ]
    }
  setup: |-
    #!/bin/sh
    set -eu
    mkdir -m 0777 -p "$VOL_DIR"
  teardown: |-
    #!/bin/sh
    set -eu
    rm -rf "$VOL_DIR"
  helperPod.yaml: |-
    apiVersion: v1
    kind: Pod
    metadata:
      name: helper-pod
    spec:
      containers:
        - name: helper-pod
          image: {{ .Values.helperPod.image.repository }}:{{ .Values.helperPod.image.tag }}
